
!dist/
.editorconfig
.gitattributes
coverage/
.travis.yml
**/*.test.d.ts
**/*.test.js
**/*.test.js.map
**/test-util.js
api-extractor.json
dist/index.d.ts
src/
temp/
test-data/
tsconfig.json
.github
.dependabot
.vscode
.pnpm-store
.lando.yml
